[Unit]
Description = Auto Deploy using Ansible.
After = ssh.service

[Service]
EnvironmentFile = /etc/default/auto-deploy
ExecStart = /usr/local/bin/ansible-playbook -i inventories/staging/hosts auto-deploy.yml -t ${TAG} -l ${HOSTNAME}
WorkingDirectory = /root/auto-deploy_ansible/ansible/
Type = oneshot

[Install]
WantedBy = multi-user.target
